# 依赖
node_modules/
.pnpm-store/

# 构建输出
dist/
.next/
out/
build/

# 生产构建
../public/page/

# 日志
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~
.DS_Store

# 环境文件
.env
.env.local
.env.*.local

# 测试
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Next.js
next-env.d.ts

# 临时文件
*.tmp
*.temp
